In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
file = '/Users/anawinp/Projects/spotify_artists/data/artists.csv'
df=pd.read_csv(file)
df.head(15)

           Artist   Streams   Daily   As lead      Solo As feature
0           Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1       Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2    Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3      The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4      Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8
5   Justin Bieber  47,525.7  18.868  27,988.0  17,183.9   19,537.7
6          Eminem  42,029.0  20.175  35,475.8  21,576.7    6,553.2
7   Ariana Grande  40,111.0  17.158  33,219.8  23,307.3    6,891.2
8        J Balvin  38,774.8  11.784  17,450.7   5,699.8   21,324.2
9     Post Malone  38,002.7  21.095  34,494.0  18,943.9    3,508.6
10     Kanye West  37,667.2  24.157  27,205.7  18,032.3   10,461.6
11   Travis Scott  37,489.0  38.359  18,839.2  14,960.2   18,649.7
12            BTS  35,778.0  14.960  32,041.3  28,991.6    3,736.7
13        Rihanna  35,501.8  20.778  25,380.1  16,736.0   10,121.7
14          Ozuna  33,315.0  13.737  13,957.5   6,226.7   19,357.5